.task-item {
  background: #F8F8E1;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
 
  &__desc {
    font-size: 1rem;
    word-break: break-word;
  }
 
  &__desc-input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
 
  &__actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  &__button {
    border-radius: 1rem;
    background-color: rgb(245, 245, 159);
  }
 
  &__states {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
 
  &__state-label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
  }

  &__checkbox {
    height: 1.25rem;
    width: 1.25rem;
  }
}